<?xml version="1.0" encoding="utf-8"?>
<Server port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>
    
    <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container"
                  type="org.apache.catalina.UserDatabase"
                  description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  pathname="conf/tomcat-users.xml"/>
    </GlobalNamingResources>
    
    <Service name="Catalina">
        <Connector port="8080"
                    relaxedPathChars="[]|" 
                    relaxedQueryChars="[]|{}^&#x5c;&#x60;&quot;&lt;&gt;"  
                    maxThreads="150" 
                    minSpareThreads="25" 
                    connectionTimeout="20000" 
                    enableLookups="false" 
                    maxHttpHeaderSize="8192" 
                    protocol="HTTP/1.1" 
                    useBodyEncodingForURI="true" 
                    redirectPort="443" 
                    acceptCount="100" 
                    disableUploadTimeout="true"
                    proxyName="nginx-service.jira.svc.cluster.local"  
                    proxyPort="443"
                    scheme="https"
                    secure="true"/> 
                    
        <Engine name="Catalina" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>
            
            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
                <Context path="/" docBase="${catalina.home}/atlassian-jira" reloadable="false" useHttpOnly="true">
                    <Resource name="jdbc/JiraDS" auth="Container" type="javax.sql.DataSource"
                              username="postgres"
                              password="password123"
                              driverClassName="org.postgresql.Driver"
                              url="jdbc:postgresql://postgres-service:5432/jira"
                              maxTotal="20"
                              initialSize="10"
                              maxWaitMillis="10000"
                              maxIdle="20"
                              minIdle="10"
                              validationQuery="select 1"
                              validationQueryTimeout="3"
                              testOnBorrow="true"
                              testWhileIdle="true"
                              timeBetweenEvictionRunsMillis="30000"
                              minEvictableIdleTimeMillis="60000"/>
                    <Manager pathname=""/>
                </Context>
                <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
                       prefix="localhost_access_log" suffix=".txt"
                       pattern="%h %l %u %t &quot;%r&quot; %s %b %D &quot;%{Referer}i&quot; &quot;%{User-Agent}i&quot;"/>
            </Host>
        </Engine>
    </Service>
</Server>
